# Ignore node_modules folder
node_modules/

# Ignore build directories (e.g., for React)
build/

# Ignore environment configuration files
.env

# Ignore other system files like logs or temporary files
*.log
*.swp
